body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 32%; 
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 2rem;
}

button:hover {
    background-color: #2a94d2;
}
.operator{
    background-color: rgb(139, 67, 220);
}
#display{
    margin-top: 15px;
    margin-left:25px;
    width:350px;
    height:50px;
    border-radius: 10px;
    border:none;
    color: #0e0d0d;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#calculator{
    background-color: #0e0d0d;
    width:400px;
    height:650px;
    border-radius: 20px;
}

